<!DOCTYPE HTML> 
<html>    
    <head>        
        <meta charset="utf-8">        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->        
        <meta name="description" content="">        
        <meta name="author" content="">        
        <title> {% block title %} ProgreZio - {% endblock %}</title> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link href="css/bootstrap.min.css" rel="stylesheet">        
        <link href="css/style.css" rel="stylesheet">        
        {% block style %} {% endblock %}    
    </head>                    
    {% block body %}        


<div class="container-fluid">
    <div class="row align-item-start ">
                        

        <nav class="navbar navbar-expand-lg bg-light navbar-light" style="width: 100%">
          <!-- Brand -->
          <a class="navbar-brand" href="index.php?page=index">ProgreZio</a>

          <!-- Toggler/collapsibe Button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>


          <!-- Navbar links -->
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">

              <li class="nav-item">
                <a class="nav-link " href="index.php?page=langagesdisponibles" aria-disabled="false">Langages</a>
              </li>

             
              {% if session.login is defined %}
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?page=profil">Profil <span class="sr-only">(current)</span></a>
                    </li>  
                <li>
                    <a class="nav-link" href="index.php?page=deconnexion">Se déconnecter<span class="sr-only">(current)</span></a>
                </li>
              {% else %}  
                <li class="nav-item">
                <a class="nav-link" href="index.php?page=connexion">Connexion</a>
                </li>
              </ul>
              {% endif %}
                  {%if session.login is defined %}
                            {%if session.role == 1 %}
                                <div class="dropdown">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administration
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="index.php?page=langage">Gestion Langages</a>
                                    <a class="dropdown-item" href="index.php?page=utilisateur">Gestion Développeurs</a>
                                  </div>


                            {% endif %}
                        {% endif %}

          </div>
        </nav>

    </div>  
    <div class="row">
        {% block contenu %}
        {% endblock %}
    </div>    
    <div class="row">
        
    


        <nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto align-center" style="width: 100%; margin-top: 3%" >


            <div class="container mx-auto align-center" >


                        <h6 class ="mx-auto align-center" style="margin-top: 2%; margin-bottom: 2%; margin-left: 50%; margin-right: 10%" >
                            © Copyright 2019 <a href="http://serveur1.arras-sio.com/symfony4-4055/PPE/web/index.php" class="text-black">ProgreZio</a> - Tous droits réservés - Développé par Dumont Antoine, Timmerman Mehdi et Dievart Vincent
                        </h6>

           
            </div>
        </nav>

    </div>  
    </div>    
    {% endblock %}               
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
    <script>window.jQuery || document.write('<script src="js/jquery3.2.1.min.js"></script>    
    <script src="js/bootstrap.min.js"></script> 
    <script src="js/script.js"> </script>
</html>