<!DOCTYPE HTML> 
<html>    
    <head>        
        <meta charset="utf-8">        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <meta name="viewport" content="width=device-width, initial-scale=1">        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->        
        <meta name="description" content="">        
        <meta name="author" content="">        
        <title> {% block title %} PPE1 - {% endblock %}</title>        
        <link href="css/bootstrap.min.css" rel="stylesheet">        
        <link href="css/style.css" rel="stylesheet">        
        {% block style %} {% endblock %}    
    </head> 
    {% block body %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Navbar</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-expanded="false">Administration</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Développeurs</a></li>
                            <li><a class="dropdown-item" href="#">Langages</a></li>
                            
                        </ul>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="#">Langage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Inscription</a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
    <script>window.jQuery || document.write('<script src="js/jquery3.2.1.min.js"></script>    
    <script src="js/bootstrap.min.js"></script>    
</html>


