<!DOCTYPE HTML> 
<html>    
    <head>        
        <meta charset="utf-8">        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <meta name="viewport" content="width=device-width, initial-scale=1">        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->        
        <meta name="description" content="">        
        <meta name="author" content="">        
        <title> {% block title %} PPE1 - {% endblock %}</title>        
        <link href="css/bootstrap.min.css" rel="stylesheet">        
        <link href="css/style.css" rel="stylesheet">        
        {% block style %} {% endblock %}    
    </head>                    
    {% block body %}        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="index.php">LeNomDuSite</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            
                {%if session.login is defined %}
                    {%if session.role == 1 %}
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administration
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="index.php?page=langage">Gestion Langages</a>
                            <a class="dropdown-item" href="index.php?page=developpeur">Gestion Développeurs</a>
                          </div>


                    {% endif %}
                {% endif %}
                </div>
                
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                    <li class="nav-item active">
                        <a class="nav-link" href="index.php?page=profil">Profil <span class="sr-only">(current)</span></a>
                    </li>                  
                    <li class="nav-item">
                        <a class="nav-link " href="index.php?page=langage" aria-disabled="false">Langage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="index.php?page=developpeur" aria-disabled="false">Developpeur</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Test</a>
                    </li>

                    {% if session.login is defined %}
                        <li><a class="nav-link" href="index.php?page=deconnexion">Se déconnecter</a></li>
                    {% else %}  
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?page=connexion">Connexion</a>
                    </li>
                    {% endif %}
                    {%if session.login is defined %}
                        <li class="nav-item"><a class="nav-link" href="#">{{session.login}}</a></li>
                       
                        {% endif %}
                    
                    
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>


      

        {% block contenu %}
        {% endblock %}
        
    {% endblock %}               
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
    <script>window.jQuery || document.write('<script src="js/jquery3.2.1.min.js"></script>    
    <script src="js/bootstrap.min.js"></script>    
</html>


