{% extends "base.html.twig" %}


{% block title %} {{ parent() }} Changement de mot de passe{% endblock %}


{% block contenu %}

<form>
  <div class="form-group">
    <label for="InputEmail">Email</label>
    <input type="email" class="form-control" id="InputEmail" name="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
    
  </div>
  <div class="form-group">
    <label for="InputPassword1">Mot de passe</label>
    <input type="password" class="form-control" id="InputPassword1" name="InputPassword1" placeholder="Mot de passe">
  </div>
    <div class="form-group">
    <label for="InputPassword2">Confirmation mot de passe</label>
    <input type="password" class="form-control" id="InputPassword2" name="InputPassword2" placeholder="Mot de passe">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck">
    <label class="form-check-label" for="exampleCheck">Cochez la case</label>
  </div>
  <button type="submit" class="btn btn-primary">Valider</button>
</form>

{% endblock %}