<<<<<<< HEAD
{# empty Twig template #}
=======
{% extends "base.html.twig" %}
<<<<<<< HEAD
{% block title %} {{ parent() }} Accueil {% endblock %}

{% block contenu %}
accueil de déve
{% endblock %}
=======


{% block title %} {{ parent() }} Accueil {% endblock %}


<<<<<<< HEAD
{% block contenu %}
    
    Test
            
        
{% endblock %}    
>>>>>>> 23c7b0e4e16463b41df5f4e7e20b6541e997b3b1
=======
{% block contenu %} <h1>Test </h1> {% endblock %} 
>>>>>>> a506c4ae73c198888fc7ef5273b50b5c73339f18
>>>>>>> 96d2d3bc1f300e6e9714bae97a5f06a2175bafc3
