{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Validation email {% endblock %}

{% block contenu %} 

        
    <div class="card-body mx-auto" style="width: 70%; height: 70%">
            <h1>Liste des Langages</h1>  
            <div class="panel panel-default"> 

            <div class="table-responsive border"> 
                <table class="table table-hover border-bottom">

                    {% for langage in listepublique %}

                        <tr>
                            
                            <td>
                                <h4>
                                    <strong>{{ langage.libelle }} </strong>
                                </h4>
                            </td>

                        </tr> 

                    {% endfor %}    
                </table>
            </div>
        </div>    
    </div>
               
{% endblock %}