{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }}modif profil {% endblock %}       
{% block contenu %}


    <form  class="form-signin" action="index.php?page=modif-profil" method="post" enctype="multipart/form-data">
        <label for="photo" class="sr-only">Photo :</label><input type="file" name="photo" id="photo" class="form-control"/>
      <button class="btn btn-lg btn-primary btn-block "  type="submit" name="btAjouter">Ajouter</button>   
        </form>  


{% endblock %}