{% extends "base.html.twig" %}


{% block title %} {{ parent() }} Profil {% endblock %}


{% block contenu %} 
    
    <div class="mx-auto" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Identifiant</h5>
    <a href="#" class="btn btn-primary">Changer image de profil</a>
  </div>
</div>
    
   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Identifiant</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Email</td>

    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>

    </tr>
  </tbody>
</table>
    
{% endblock %}