{% extends "base.html.twig" %}


{% block title %} {{ parent() }} Profil {% endblock %}


{% block contenu %} 

    <div class="mx-auto" style="width: 20rem;">
        <img src="../web/image/profilvide.png" class="img-fluid" alt="Responsive image"> 
        <div class="card-body">
            <h5 class="card-title">Identifiant</h5>
            <a href="#" class="btn btn-primary">Changer image de profil</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-light">
                
                <tr>
                    <th scope="col">Identifiant</th>

                </tr>
            </thead>
            <tbody>
                
                    <tr>  
                        <td>{{ liste.nom }} {{ liste.prenom }}</td><span class="glyphicon glyphiconpencil" aria-hidden="true"></span></a></div></td><td><div class="btn-group btn-group-lg"><a href="#"><span class="glyphicon glyphicon-trash" ariahidden="true"></span></a></div></td>

                    </tr>
              
            </tbody>
        </table>
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr>  
                        <td>{{ liste.email}}</td>

                    </tr>
                

        </table>
    </div>

    
    
    {% endblock %}