{% extends "base.html.twig" %}


{% block title %} {{ parent() }} Profil {% endblock %}


{% block contenu %} 
    
   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Identifiant</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Email</td>

    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>

    </tr>
  </tbody>
</table>
    
{% endblock %}