{% extends "base.html.twig" %}


{% block title %} {{ parent() }} Profil {% endblock %}


{% block contenu %} 

    <div class="mx-auto" style="width: 20rem;">
        <img src="../web/image/profilvide.png" class="img-fluid" alt="Responsive image"> 
        <div class="card-body">
            <h5 class="card-title">Identifiant</h5>
            <label for="photo" class="sr-only">Photo :</label><input type="file" name="photo" id="photo" class="form-control"/>
            <form class="form-signin" action="index.php?page=profil" method="post" enctype="multipart/form-data">
            <button class="btn btn-lg btn-primary btn-block mx-auto" style="width: 100%" type="submit" name="btChangerPhoto" id="btChangerPhoto">Changer votre photo</button>    
            
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-light">
                
                <tr>
                    <th scope="col">Identifiant</th>

                </tr>
            </thead>
            <tbody>
                
                    <tr>  
                        <td>{{ liste.nom }} {{ liste.prenom }}</td><span class="glyphicon glyphiconpencil" aria-hidden="true"></span></a></div></td><td><div class="btn-group btn-group-lg"><a href="#"><span class="glyphicon glyphicon-trash" ariahidden="true"></span></a></div></td>

                    </tr>
              
            </tbody>
        </table>
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr>  
                        <td>{{ liste.email}}</td>

                    </tr>
                

        </table>
    </div>

    
    
    {% endblock %}