{% extends "base.html.twig" %}


{% block title %} {{ parent() }} Profil {% endblock %}


{% block contenu %} 
    
    <div class="mx-auto" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Identifiant</h5>
    <a href="#" class="btn btn-primary">Changer image de profil</a>
  </div>
</div>
    
    <div style="width:75%" class="border mx-auto">
   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Identifiant:</th>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Nom:</th>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Email:</th>
      <td></td>

  </tbody>
</table>
    </div>
{% endblock %}