{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Validation email {% endblock %}

{% block contenu %}
    
    
         <div class="card-body mx-auto" style="max-width: 90%">
             <h1> <span class="badge "> </span>  </h1>
            <div class="panel panel-default"> 

            <div class="table-responsive border"> 
                <table class="table table-hover border-bottom">
                    {% for u in listeutilisateur %}

                        <tr>
                            
                            <td>
                                <h4>
                                    <strong>{{ u.email }} {{ u.nom }}{{ u.prenom }} </strong>
                                </h4>
                            </td> 
                        </tr> 

                    {% endfor %}    
                </table>
            </div>
        </div>    
    </div> 
{% endblock %}





