{% extends 'base.html.twig' %}
{% block contenu %}
<div class="panel panel-default">
      <div class="panel-heading">Liste des utilisateurs</div>
   <div class="table-responsive">
       <table class="table table-hover table-striped">
           <tr><th>Email</th>
               <th>Nom</th>
                <th>Prénom</th>
                <th>Rôle</th>
           </tr>
 
  {% for utilisateur in liste %}          <tr><td>{{utilisateur.email}}</td><td>{{utilisateur.nom}}</td><td>{{utilisateur.prenom}}</td><td>{{utilisateur.libellerole}}</td ><td> <div class="btn-group btn-group-lg"><a href="index.php?page=utilisateur-modif"><span class="glyphicon glyphiconpencil" aria-hidden="true"></span></a></div></td><td><div class="btn-group btn-group-lg"><a href="#"><span class="glyphicon glyphicon-trash" ariahidden="true"></span></a></div></td></tr> 
 
  {% endfor %}    
  </table>  </div> </div>
  {% endblock %}